<div class="container pt-3">
  <div class="card shadow-lg border-0">
    <div
      class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
    >
      <!-- Titre du projet aligné à gauche -->
      <h5 class="m-0"><i class="bi bi-kanban me-2"></i> Projets</h5>

      <!-- Bouton pour ajouter un projet aligné à droite -->
      <button class="btn btn-light text-primary" routerLink="/addprojet">
        <i class="bi bi-plus-circle me-2"></i>
        Ajouter un projet
      </button>
    </div>

    <div class="card-body">
      <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Début</th>
            <th scope="col">Fin</th>
            <th scope="col">Statut</th>
            <th scope="col">Utilisateurs</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let projet of Projets">
            <td>{{ projet.id }}</td>
            <td class="fw-bold text-primary">{{ projet.name }}</td>
            <td>{{ projet.debut }}</td>
            <td>{{ projet.fin }}</td>
            <td>
              <button
                class="btn btn-sm btn-info"
                (click)="updatestatus(projet.id)"
              >
                {{ projet.status }}
              </button>
            </td>
            <td>
              <button
                class="btn btn-sm btn-outline-info"
                (click)="gotousers(projet)"
              >
                <i class="bi bi-people"></i> Utilisateurs
              </button>
            </td>
            <td>
              <button
                class="btn btn-sm btn-danger"
                (click)="deleteproject(projet.id)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
