<div class="container pt-3">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="m-0">Liste des utilisateurs</h5>

      <div>
        <button class="btn btn-success d-flex" (click)="addtaches()">
          <i class="bi bi-plus-circle me-2"></i>
          <!-- Icône d'ajout -->
          Ajouter un utilsateur
        </button>
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tâche</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tache of taches">
            <td>{{ tache.tid }}</td>
            <td>{{ tache.name }}</td>
            <td>{{ tache.debut }}</td>
            <td>{{ tache.fin }}</td>
            <td>{{ tache.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
